.galleryHeader {
    /*border-bottom-width: thin;*/
    /*border-bottom-style: solid;*/
    /*border-bottom-color: #aeaeae;*/
    margin-left: 3%;

}

.galleryHeader p {
    font-family: Hernitta, serif;
    font-size: 50px;
    font-weight: bold;
    color: #3a000a;
}


.gallerySection p {
    margin-top: 5px;
    font-family: Alegreya, serif;
    color: #1B1B1B !important;
    margin-right: 4px;
    font-size: large;
}

/*VIDEOS*/
.galleryVids {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(7, 5vw);
    grid-gap: 5px;
}


.vid_item {
    border: solid rgba(255, 255, 255, 0.78) 15px;
    padding-bottom: 30px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 0;

}

.vid_item video {
    width: 100%;
    height: auto;
}


.vid_item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 8;
}

.vid_item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
}


/*IMAGES*/
.galleryTogether {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(12, 5vw);
    grid-gap: 5px;
    /*border: #1B1B1B solid 1px;*/
}

.gallery__img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery__img:hover {
    transform: scale(1.2);
    filter: brightness(1.1);
}


.gallery_item {
    border: solid rgba(255, 255, 255, 0.78) 15px;
    padding-bottom: 30px;
    background-color: white;
    overflow: hidden;
    margin-bottom: 0;
}

.gallery_item p {
    text-align: center;
}

.gallery_item-1 {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery_item-2 {
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 8;
}

.gallery_item-3 {
    grid-column-start: 5;
    grid-column-end: 7;
    grid-row-start: 1;
    grid-row-end: 7;
}

.gallery_item-4 {

    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 1;
    grid-row-end: 8;
}


.gallery_item-5 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 8;
    grid-row-end: 14;
}

.gallery_item-6 {
    grid-column-start: 4;
    grid-column-end: 7;
    grid-row-start: 8;
    grid-row-end: 14;
}

.gallery_item-7 {
    grid-column-start: 7;
    grid-column-end: 10;
    grid-row-start: 8;
    grid-row-end: 15;
}


@media only screen and (max-device-width: 500px) {

    .galleryVids {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(49, 5vw);
        grid-gap: 5px;
    }


    .vid_item {
        border: solid rgba(255, 255, 255, 0.78) 15px;
        padding-bottom: 30px;
        background-color: white;
        overflow: hidden;
        margin-bottom: 0;

    }

    .vid_item video {
        width: 100%;
        height: auto;
    }

    .vid_item-1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 25;
    }

    .vid_item-2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 25;
        grid-row-end: 50;
    }


    .galleryTogether {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(60, 10vw);
        grid-gap: 5px;
        /*border: #1B1B1B solid 1px;*/
    }

    .gallery_item {
        border-left: 0;
        border-right: 0;
    }


    .gallery__img:hover {
        transform: scale(1);
        filter: brightness(1.1);
    }

    .gallery_item-1 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 15;
    }

    .gallery_item-2 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 15;
        grid-row-end: 30;
    }

    .gallery_item-3 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 30;
        grid-row-end: 40;
    }

    .gallery_item-4 {

        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 40;
        grid-row-end: 55;
    }

    .gallery_item-5 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 55;
        grid-row-end: 65;
    }

    .gallery_item-6 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 65;
        grid-row-end: 80;
    }

    .gallery_item-7 {
        grid-column-start: 1;
        grid-column-end: 4;
        grid-row-start: 80;
        grid-row-end: 95;
    }
}

@media only screen and (max-width: 900px) and (min-width: 800px) {
}