@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
    box-sizing: border-box;
}

.rsvpForm {
    position: relative;
    margin: 20px 0;
    display: block;
    /*width: 300px;*/
}

.rsvpForm input {
    border: 0;
    border-bottom: 2px solid #333;
    padding: 15px 0;
    display: block;
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    width: 100%;
    transition: 0.1s ease-in;
}

.rsvpForm input:focus,
.rsvpForm input:valid {
    border-bottom-color: darksalmon;
    outline: none;
}

.rsvpForm input:focus + label span ,
.rsvpForm input:valid + label span{
    color: darksalmon;
    transform: translateY(-30px);
}

.rsvpForm label {
    position: absolute;
    top: 15px;
    left: 0;
}

.rsvpForm label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.rsvpNumberForm label {
    /*position: absolute;*/
    top: 15px;
    left: 0;
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
}
.rsvpNumberForm input{
    border: 0;
    border-bottom: 2px solid #333;
    /*padding: 15px 0;*/
    /*display: block;*/
    font-size: 18px;
    font-family: 'Muli', sans-serif;
    width: 100%;
}

.rsvpbntn {
    width: 100% !important;

}

.rsvp-popup {
    background-color: rgb(255, 255, 255);
}

.mylabel {
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    color: #394a56;
}


.toggle {
    isolation: isolate;
    position: relative;
    height: 30px;
    width: 200px;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: -8px -4px 8px 0 #ffffff,
    8px 4px 12px 0 #d1d9e6,
    4px 4px 4px 0 #d1d9e6 inset,
    -4px -4px 4px 0 #ffffff inset;
}

.toggle-state {
    display: none;
}

.indicator {
    height: 100%;
    width: 200%;
    background: #c20100;
    border-radius: 15px;
    transform: translate3d(-75%, 0, 0);
    transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
    box-shadow: -8px -4px 8px 0 #ffffff,
    8px 4px 12px 0 #d1d9e6;
}

.toggle-state:checked ~ .indicator {
    transform: translate3d(25%, 0, 0);
    background: #04c102;
}