.storycontainer {
    margin: 20px auto;
    width: 70%;
    overflow: hidden;
}

.timeslot {
    width: 100%;
    float: left;
    margin: 0 0 30px;
    padding: 10px 200px 0 0;
    border-top: 3px solid #ddd;
    position: relative;
    text-align: left;
}

.timeslot span {
    position: absolute;
    right: 0;
    color: rgb(99, 56, 47);
    font-family: cursif, serif;
}

.even {
    float: right;
    padding: 10px 0 0 200px;
}

.even span {
    left: 0;
    text-align: left;
}

blockquote {
    font-family: Georgia, serif;
    font-size: 18px;
    font-style: italic;
    width: 100%;
    margin: 0.25em 0;
    padding: 0.25em 40px;
    line-height: 1.45;
    position: relative;
}

blockquote:before {
    display: block;
    content: "\201C";
    font-size: 80px;
    position: absolute;
    left: 0px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: rgba(103, 45, 104, 0.92);
    font-size: 35px;
    display: block;
    margin-top: 5px;
    font-family: "Belly Betty", serif;
}

blockquote cite:before {
    content: "\2014 \2009";
}

@media only screen and (max-width: 450px) {
    .storycontainer {
        width: 90%;
    }

    .timeslot {

        padding: 10px 60px 0 0;
    }

    .even {
        padding: 10px 0 0 100px;
    }
}