body {
    background-color: rgba(29, 0, 59, 0.74) !important;

}

@media only screen and (max-device-width: 500px) {

    .headertext {
        font-size: 50px !important;
    }

    .navbar {
        height: 200px !important;
    }
}